<div class="game-container">
  <div class="game-first-row">
    <span class="game-score">Punteggio: {{ score }}</span>
    <span class="game-player-name">Ciao, {{ playerName }}!</span>
  </div>
  <div class="game">
    <div class="funnel-container">
      <div class="icon funnel">
        <div appElementDrag id="element1" class="shape shape-triangle"></div>
        <div appElementDrag id="element2" class="shape shape-square"></div>
        <div appElementDrag id="element3" class="shape shape-triangle"></div>
        <div appElementDrag id="element4" class="shape shape-circle"></div>
        <div appElementDrag id="element5" class="shape shape-rectangle"></div>
        <div appElementDrag id="element6" class="shape shape-triangle"></div>
        <div appElementDrag id="element7" class="shape shape-circle"></div>
        <div appElementDrag id="element8" class="shape shape-rectangle"></div>
      </div>
    </div>
    <div class="game-examiners">
      <div class="examiner" id="examiner1">
        <div class="icon bucket"></div>
        <span class="examiner-label">Esaminatore 1</span>
      </div>
      <div class="examiner" id="examiner2">
        <div class="icon bucket"></div>
        <span class="examiner-label">Esaminatore 2</span>
      </div>
      <div class="examiner" id="examiner3">
        <div class="icon bucket"></div>
        <span class="examiner-label">Esaminatore 3</span>
      </div>
    </div>
  </div>
</div>
