.game-container {
  min-height: 100vh;
  width: 100vw;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;

  .game-content {
    background-color: var(--dark-bg);
    border-radius: 48px;
    flex: 1;

    .game-first-row {
      width: 100%;
      height: 7.5%;
      font-size: 36px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 32px 48px;
    }

    .game {
      display: flex;
      height: 92.5%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .funnel-container {
        position: relative;
        .funnel {
          width: 500px;
          height: 500px;
          mask-image: url('/assets/funnel.svg');
          background-color: var(--white);
        }

        .elements {

          .shape {
            background-color: var(--shapes-bg);
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            z-index: 1;
            cursor: grab;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &.transition {
              transition: 0.5s;
            }

            span {
              padding: 12px;
              font-size: 20px;
            }

            &:active {
              cursor: grabbing;
            }

            &.shape-circle {
              clip-path: circle(50%);
            }

            &.shape-triangle {
              clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
            }

            &.shape-rectangle {
              clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
          }

          #element1 {
            transform: translate3d(203px, 399px, 0) rotate(37deg);
            width: 65px;
            height: 65px;

            &.animate {
              transform: translate3d(203px, -150px, 0) rotate(37deg);
            }
          }

          #element2 {
            transform: translate3d(233px, 314px, 0);
            width: 75px;
            height: 75px;

            &.animate {
              transform: translate3d(233px, -150px, 0);
            }
          }

          #element3 {
            transform: translate3d(153px, 154px, 0) rotate(-51deg);
            height: 150px;

            &.animate {
              transform: translate3d(153px, -150px, 0) rotate(-51deg);
            }
          }

          #element4 {
            transform: translate3d(205px, 132px, 0) rotate(30deg);
            width: 150px;
            height: 75px;

            &.animate {
              transform: translate3d(205px, -150px, 0) rotate(30deg);
            }
          }

          #element5 {
            transform: translate3d(321px, 12px, 0);
            width: 110px;
            height: 110px;

            &.animate {
              transform: translate3d(321px, -150px, 0);
            }
          }

          #element6 {
            transform: translate3d(179px, -32px, 0) rotate(284deg);
            height: 150px;

            &.animate {
              transform: translate3d(179px, -150px, 0) rotate(284deg);
            }
          }

          #element7 {
            transform: translate3d(102px, 52px, 0) rotate(34deg);

            &.animate {
              transform: translate3d(102px, -150px, 0) rotate(34deg);
            }
          }

          #element8 {
            transform: translate3d(40px, -14px, 0) rotate(60deg);

            &.animate {
              transform: translate3d(40px, -150px, 0) rotate(60deg);
            }
          }

        }
      }

      .game-examiners {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

      }

    }
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
  }

}
