:root {
  --dark-bg: #333356;
  --light-bg: #50557E;
  --shapes-bg: #525E87;
  --white: #F8FCFC;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Fredoka One', cursive;
  color: var(--white);
  background-color: var(--light-bg);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 52px;
}

.icon {
  mask-size: cover;
}
